{{template "base" .}}

{{define "title"}}AITU{{end}}

{{define "main"}}
  <main class="container mt-4">
    <h1 class="header-class text-center mb-4" style="font-family: 'Bai' !important;">Meet Our Specialists</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">

      <div class="col">
        <div class="card specialist-card">
          <img src="../static/images/s1.jpg" class="specialist-image" alt="Dr. Abenova Sabina">
          <div class="card-body">
            <h5 class="card-title">Cardiologist - Dr. Ayanat Nurzhanova</h5>
            <p class="card-text">Education: Graduated from the Astana Medical University with a specialization in Cardiology.<br>
              Experience: Over 12 years of experience with a focus on respiratory function and spirometry, trained in advanced cardiac life support.</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card specialist-card">
          <img src="../static/images/s2.jpg" class="specialist-image" alt="Dr. Abenova Sabina">
          <div class="card-body">
            <h5 class="card-title">Pediatrician: Dr. Zarina Abilova</h5>
            <p class="card-text">Education: Completed her Pediatrics residency at the Almaty National Pediatric Institute.<br>
              Experience: Has spent the last 10 years focusing on neonatal care and general pediatric medicine, including growth and development assessments.</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card specialist-card">
          <img src="../static/images/s12.jfif" class="specialist-image" alt="Dr. Abenova Sabina">
          <div class="card-body">
            <h5 class="card-title">Otolaryngologist: Dr. Timur Ibrayev</h5>
            <p class="card-text">Education: Earned his medical degree from the Kazakh National Medical University, with a focus on otolaryngology.<br>
              Experience: Specializes in endoscopic examination of ENT organs, with 8 years of experience in both clinical and surgical settings.</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card specialist-card">
          <img src="../static/images/s3.jpg" class="specialist-image" alt="Dr. Abenova Sabina">
          <div class="card-body">
            <h5 class="card-title">Gastroenterologist: Dr. Kamila Zholdasbek</h5>
            <p class="card-text">Education: Attended the South Kazakhstan Medical Academy, followed by a gastroenterology fellowship.<br>
              Experience: An expert in colonoscopy procedures with a strong background in detecting gastrointestinal diseases.</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card specialist-card">
          <img src="../static/images/s4.jpg" class="specialist-image" alt="Dr. Abenova Sabina">
          <div class="card-body">
            <h5 class="card-title">Gynecologist: Dr. Dinara Kassenova</h5>
            <p class="card-text">Education: Received her medical degree from the Astana Medical University, specializing in Gynecology and Obstetrics.<br>
              Experience: Known for her expertise in colposcopy and pelvic ultrasound, providing comprehensive women's healthcare for over 15 years.</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card specialist-card">
          <img src="../static/images/s5.jpg" class="specialist-image" alt="Dr. Abenova Sabina">
          <div class="card-body">
            <h5 class="card-title">Endocrinologist: Dr. Daulet Batyrbekov</h5>
            <p class="card-text">Education: Graduated from Karaganda State Medical University with a specialization in Endocrinology.<br>
              Experience: Skilled in thyroid ultrasound and hormone level evaluation, with over 10 years of clinical practice.</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card specialist-card">
          <img src="../static/images/s6.jfif" class="specialist-image" alt="Dr. Abenova Sabina">
          <div class="card-body">
            <h5 class="card-title">Urologist: Dr. Nurlan Ospanov</h5>
            <p class="card-text">Education: Studied at the West Kazakhstan Marat Ospanov State Medical University with a focus on urology.<br>
              Experience: A seasoned urologist with extensive experience in urinary tract ultrasound diagnostics.</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card specialist-card">
          <img src="../static/images/s8.jpg" class="specialist-image" alt="Dr. Abenova Sabina">
          <div class="card-body">
            <h5 class="card-title">Proctologist: Dr. Aibek Zhunussov</h5>
            <p class="card-text">Education: Completed his medical education at the Semey State Medical University, with a residency in proctology.<br>
              Experience: Specializes in rectoromanoscopy, offering advanced care in colorectal health for the past 8 years.</p>
          </div>
        </div>
      </div>

    </div>
  </main>

{{end}}