{{template "base" .}}
{{define "title"}}View appointments{{end}}
{{define "main"}}
    {{range .Appointments}}
        <div>
            <div>{{.ID}}</div>
            <div>{{.Doctortype}}</div>
            <div>{{.Username}}</div>
            <div>{{.Phonenumber}}</div>
            <div>{{.Created}}</div>
        </div>
    {{end}}
{{end}}